*.pcd
*.mat
.DS_Store
.ipynb_checkpoints/
__pycache__/
scratch/

*.mp4
*.onnx
*.pt
dataset/
dataset

# Virtual Environments
environment/
env/
venv/
.venv/

# Node / Frontend builds
node_modules/
dist/
dist-ssr/

# MATLAB / Simulink cache
*.asv
*.slxc
slprj/
.pytest_cache/

